<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wspin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet"/>

</head>
<body>

<button class="open-button" onclick="openForm()">Credentials</button>

<div class="form-popup" id="myForm">
    <div class="form-container">
        <label for="login_input"><b>Login</b></label>
        <input type="text" placeholder="Enter Login" name="email" id="login_input" required>

        <label for="password_input"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="password_input" required>

        <button onclick="saveCredentials()" class="btn">Save</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>
</div>

<div class="tab">
    <button class="tablinks" id="routesTabButton" onclick="openRoutes()">Routes</button>
    <button class="tablinks" id="statusesTabButton" onclick="openStatuses()">Statuses</button>
</div>

<div id="Routes" class="tabcontent">
    <h3>Routes</h3>
    <p>table of all routes</p>
    <table id="routesTable" class="table"></table>
</div>

<div id="Statuses" class="tabcontent">
    <h3>Statuses</h3>
    <p>table with all user statuses</p>
    <table id="statusesTable" class="table"></table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/script.js" th:src="@{/script.js}" type="text/javascript"></script>

</body>
</html>
